<div class="panel" [hidden]="!isLoading">
  Loading..
</div>

<ng-template #popOverTemplate>
  <p class="font-weight-bold text-center">
    Would you like us to copy this salah time to all the other days?
  </p>
  <button type="button" class="btn btn-block btn-primary" (click)="onCopySalahTimeToOtherDays()">Yes
    please</button>
</ng-template>

<form [formGroup]="form" (ngSubmit)="save()">
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid">Save All</button>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-default btn-block" (click)="onRefresh()">Refresh</button>
  </div>
  <div class="table-responsive-xl">
    <table class="table table-bordered">
      <thead class="text-center">
        <tr>
          <th scope="col">Day</th>
          <th scope="col" style="min-width: 90px">Earliest Fajr</th>
          <th scope="col" style="min-width: 90px">Fajr</th>
          <th scope="col" style="min-width: 90px">Sunrise</th>
          <th scope="col" style="min-width: 90px">Earliest Zuhr</th>
          <th scope="col" style="min-width: 90px">Zuhr</th>
          <th scope="col" style="min-width: 90px">Earliest Asr</th>
          <th scope="col" style="min-width: 90px">Asr</th>
          <th scope="col" style="min-width: 90px">Magrib</th>
          <th scope="col" style="min-width: 90px">Earliest Isha</th>
          <th scope="col" style="min-width: 90px">Isha</th>
        </tr>
      </thead>
      <tbody formArrayName="salahs" *ngFor="let salah of salahs.controls; let i = index;">
        <tr [formGroupName]="i">
          <th scope="row">{{salah.value.day}}</th>
          <td>
            <input [textMask]="{mask: mask}" type="text" class="form-control" formControlName="earliestFajr"
              [class.is-invalid]="salah.controls.earliestFajr.errors" [popover]="popOverTemplate" #popoverEarliestFajr="bs-popover"
              triggers="" (dblclick)="onShowPopOver(popoverEarliestFajr,$event,i,'earliestFajr');" [outsideClick]="true">
          </td>
          <td>
            <input [textMask]="{mask: mask}" type="text" class="form-control" formControlName="fajr" [class.is-invalid]="salah.controls.fajr.errors"
              [popover]="popOverTemplate" #popoverFajr="bs-popover" triggers="" (dblclick)="onShowPopOver(popoverFajr,$event,i,'fajr');"
              [outsideClick]="true">
          </td>
          <td>
            <input [textMask]="{mask: mask}" type="text" class="form-control" formControlName="sunrise"
              [class.is-invalid]="salah.controls.sunrise.errors" [popover]="popOverTemplate" #popoverSunrise="bs-popover"
              triggers="" (dblclick)="onShowPopOver(popoverSunrise,$event,i,'sunrise');" [outsideClick]="true">
          </td>
          <td>
            <input [textMask]="{mask: mask}" type="text" class="form-control" formControlName="earliestZuhr"
              [class.is-invalid]="salah.controls.earliestZuhr.errors" [popover]="popOverTemplate" #popoverEarliestZuhr="bs-popover"
              triggers="" (dblclick)="onShowPopOver(popoverEarliestZuhr,$event,i,'earliestZuhr');" [outsideClick]="true">
          </td>
          <td>
            <input [textMask]="{mask: mask}" type="text" class="form-control" formControlName="zuhr" [class.is-invalid]="salah.controls.zuhr.errors"
              [popover]="popOverTemplate" #popoverZuhr="bs-popover" triggers="" (dblclick)="onShowPopOver(popoverZuhr,$event,i,'zuhr');"
              [outsideClick]="true">
          </td>
          <td>
            <input [textMask]="{mask: mask}" type="text" class="form-control" formControlName="earliestAsr"
              [class.is-invalid]="salah.controls.earliestAsr.errors" [popover]="popOverTemplate" #popoverEarliestAsr="bs-popover"
              triggers="" (dblclick)="onShowPopOver(popoverEarliestAsr,$event,i,'earliestAsr');" [outsideClick]="true">
          </td>
          <td>
            <input [textMask]="{mask: mask}" type="text" class="form-control" formControlName="asr" [class.is-invalid]="salah.controls.asr.errors"
              [popover]="popOverTemplate" #popoverAsr="bs-popover" triggers="" (dblclick)="onShowPopOver(popoverAsr,$event,i,'asr');"
              [outsideClick]="true">
          </td>
          <td>
            <input [textMask]="{mask: mask}" type="text" class="form-control" formControlName="magrib"
              [class.is-invalid]="salah.controls.magrib.errors" [popover]="popOverTemplate" #popoverMagrib="bs-popover"
              triggers="" (dblclick)="onShowPopOver(popoverMagrib,$event,i,'magrib');" [outsideClick]="true">
          </td>
          <td>
            <input [textMask]="{mask: mask}" type="text" class="form-control" formControlName="earliestIsha"
              [class.is-invalid]="salah.controls.earliestIsha.errors" [popover]="popOverTemplate" #popoverEarliestIsha="bs-popover"
              triggers="" (dblclick)="onShowPopOver(popoverEarliestIsha,$event,i,'earliestIsha');" [outsideClick]="true">
          </td>
          <td>
            <input [textMask]="{mask: mask}" type="text" class="form-control" formControlName="isha" [class.is-invalid]="salah.controls.isha.errors"
              [popover]="popOverTemplate" #popoverIsha="bs-popover" triggers="" (dblclick)="onShowPopOver(popoverIsha,$event,i,'isha');"
              [outsideClick]="true">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
