<h1>Salah Form</h1>

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">January</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Febuary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">March</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">April</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">May</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">June</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">July</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">August</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">September</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">October</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">November</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">December</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <form [formGroup]="form">
      <div class="table-responsive-xl">
        <table class="table table-bordered">
          <thead class="text-center">
            <tr>
              <th scope="col">Date</th>
              <th scope="col" style="min-width: 90px">Fajr</th>
              <th scope="col" style="min-width: 90px">Sunrise</th>
              <th scope="col" style="min-width: 90px">Zuhr</th>
              <th scope="col" style="min-width: 90px">Asr</th>
              <th scope="col" style="min-width: 90px">Magrib</th>
              <th scope="col" style="min-width: 90px">Isha</th>
              <th scope="col" style="min-width: 90px"></th>
            </tr>
          </thead>
          <tbody formArrayName="salahs" *ngFor="let salah of salahs.controls; let i = index;">
            <tr [formGroupName]="i">
              <th scope="row">{{salah.value.day}}</th>
              <td><input appTimeInput [textMask]="{mask: mask}" type="text" class="form-control" formControlName="fajr"></td>
              <td><input type="time" class="form-control" formControlName="sunrise"></td>
              <td><input type="time" class="form-control" formControlName="zuhr"></td>
              <td><input type="time" class="form-control" formControlName="asr"></td>
              <td><input type="time" class="form-control" formControlName="magrib"></td>
              <td><input type="time" class="form-control" formControlName="isha"></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>

  </div>
</div>
