<app-date-slider [today]="today" (change)="getSalahs($event)"></app-date-slider>

<div class="table-responsive" *ngIf="jammat">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Salah
          <i class="fa fa-question-circle" tooltip="These times are the start time of each salah"></i>
        </th>
        <th scope="
            col">Jammat
          <i class="fa fa-question-circle" tooltip="These times are when <organization> read in congregration"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Fajr</td>
        <td>3:00</td>
        <td>{{jammat.fajr}}</td>
      </tr>
      <tr>
        <td>Sunrise</td>
        <td>5:50</td>
        <td>{{jammat.sunrise}}</td>
      </tr>
      <tr>
        <td>Zuhr</td>
        <td>1:00</td>
        <td>{{jammat.zuhr}}</td>
      </tr>
      <tr>
        <td>Asr</td>
        <td>6:30</td>
        <td>{{jammat.asr}}</td>
      </tr>
      <tr>
        <td>Magrib</td>
        <td>7:50</td>
        <td>{{jammat.magrib}}</td>
      </tr>
      <tr>
        <td>Isha</td>
        <td>9:50</td>
        <td>{{jammat.isha}}</td>
      </tr>
    </tbody>
  </table>
</div>
